@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    position: relative;
}

body::after {
    content: "";
    background-image: url(/static/images/273906939_466971391672527_2326908960397382937_n.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* background-size: 60% 80%; */
    background-size: cover;
    background-position: 50% 70%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    /* opacity: 0.8; */
    z-index: -20;
}

.main-container {
    width: 100vw;
    height: calc(100vh - 50px) ;
    position: relative;
}