*{
    box-sizing: border-box;
}

.content {
    display: flex;
    height: 50rem;
    justify-content: space-between;
    background-image: url('https://images.unsplash.com/photo-1579802063117-87cd2ad50a88?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=764&q=80');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left center;
    background-attachment: fixed;
}

.galleries {
    display: flex;
    flex-wrap: wrap;
    margin: 2rem 2rem;
    width: 80vw;
    height: 80%; 
}

.gallery {
    position: relative;
    overflow: hidden;
    height: 20rem;
    width: 20rem;
    margin: 1rem;
    color: #fff;
    z-index: 0;
    opacity: 0.7;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    transition: transform 0.3s ease-in;  
}

.gallery:hover {
    transition: .3s ease;
    opacity: 1;
    cursor: pointer;
    transform: translateZ(10px) scale(1.1);
}

.gallery::after {
    content: '';
    display: flex;
    background-color:rgba(	3, 33,	48, 0);
    height: 20rem;
    width: 20rem;
    z-index: 1;
}

.gallery:hover .gallery-description {
    transform: translateY(-4rem) translateX(-50%);
    transition: all 0.5s ease;
}

.winter-gallery {
    background-image: url(/static/img/winter-photos/winter4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.summer-gallery {
    background-image: url('https://images.unsplash.com/photo-1593604341107-12f3981d929b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
    background-size: cover;
}   

.spring-gallery {
    background-image: url('https://images.unsplash.com/photo-1591037821993-166c5dd06142?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=980&q=80');
    background-size: cover; 
}

.autumn-gallery {
    background-image: url('https://images.unsplash.com/photo-1445968915221-16998c7e84e6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8YXV0dW1uJTIwY290dGFnZXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60');
    background-size: cover;
}


.gallery-description {
    display:flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    z-index: 2;
    font-size: 2rem;
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Inconsolata', monospace;
    font-size: 2rem;
}
