.row {
    display: flex;
    justify-content: space-around;
    padding: 5px 5px 0 5px;
}

.row .image-wrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    position: relative;
    margin: 5px 5px 0 5px;
    border: 2px solid white;
    overflow: hidden;
}

.row .image-wrapper:hover {
    cursor: pointer;
}

.row .image-wrapper:hover .image {
    transform: scale(1.2);
}

.row .image-wrapper {
    height: 300px;
}

.row .image-wrapper .image {
    width: 100%;
    height: 100%;
    transition: all .5s;
}

.row .image-wrapper .image::before {
    content: "";
    display: none;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(256, 256, 256, .15);
}

.row .image-wrapper:hover .image:before,
.row .image-wrapper:focus .image:before {
  display: block;
}

.row .image-wrapper .description {
    width: 100%;
    height: 100px;
    position: absolute;
    bottom: 0;
    background-color: rgba(256, 256, 256, .25);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-shadow: 2px 2px #000000;
    text-transform: uppercase;
}

#image-one {
    background-image: url(/static/img/img-one.jpg);
    background-position: center;
    background-size: cover;
}

#image-two {
    background-image: url(/static/img/img-two.jpg);
    background-position: center;
    background-size: cover;
}

#image-three {
    background-image: url(/static/img/img-three.jpg);
    background-position: center;
    background-size: cover;
}

#image-four {
    background-image: url(/static/img/img-four.jpg);
    background-position: center;
    background-size: cover;
}

#image-five {
    background-image: url(/static/img/img-five.jpg);
    background-position: center;
    background-size: cover;
}

#image-six {
    background-image: url(/static/img/img-six.jpg);
    background-position: center;
    background-size: cover;
}
